rasp-node red/temporario/multi.json
[{"id":"bbdc0c50.11675","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b4f2a93d.bd4d38","type":"mqtt in","z":"bbdc0c50.11675","name":"","topic":"esp/device","qos":"2","datatype":"json","broker":"2edb4cd8.c57734","x":200,"y":200,"wires":[["82d6c29b.d86ce8","827c7bd.a31fb08"]]},{"id":"82d6c29b.d86ce8","type":"debug","z":"bbdc0c50.11675","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":40,"wires":[]},{"id":"827c7bd.a31fb08","type":"json","z":"bbdc0c50.11675","name":"","property":"payload","action":"obj","pretty":false,"x":670,"y":260,"wires":[["b9d327b4.e35e18","b2e000f5.7b209"]]},{"id":"b9d327b4.e35e18","type":"debug","z":"bbdc0c50.11675","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":280,"wires":[]},{"id":"153c178d.b2c0a8","type":"debug","z":"bbdc0c50.11675","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1330,"y":360,"wires":[]},{"id":"b7a4b034.ac1ac8","type":"debug","z":"bbdc0c50.11675","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1370,"y":420,"wires":[]},{"id":"e77c3614.8a79f","type":"postgres","z":"bbdc0c50.11675","postgresdb":"a146322a.160f7","name":"","output":false,"perrow":false,"rowspermsg":"1","return_on_error":true,"limit_queries":"1","limit_by":"payload","limit_value":"5","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":1440,"y":580,"wires":[]},{"id":"e8b0aa38.1f5af8","type":"function","z":"bbdc0c50.11675","name":"Status","func":"var test = msg.payload;\n\nmsg.payload = \"INSERT INTO complex(status) select 'IN' \"\nmsg.payload = msg.payload +\"where exists (select 1 from complex where mac = 'mac1') ;\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":760,"wires":[["7f2a9e0c.98aaa8"]]},{"id":"9643d4c.d6fd0a8","type":"function","z":"bbdc0c50.11675","name":"QUERY","func":"msg.queryParameters = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":540,"wires":[["e77c3614.8a79f","b7a4b034.ac1ac8"]]},{"id":"340d4e3b.9d581a","type":"delay","z":"bbdc0c50.11675","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":640,"wires":[["9643d4c.d6fd0a8","e8b0aa38.1f5af8"]]},{"id":"e14a529.dc33b3","type":"function","z":"bbdc0c50.11675","name":"","func":"var test = msg.payload;\n\nmsg.payload = \"INSERT INTO complex(mac) VALUES\"\n\n\nfor (var i = 0; i < test.length; i++){\n    if(i==test.length-1){\n        var obj = test[i];\n        msg.payload += (\" ('\"+obj +\"');\");\n    }else{\n        var obj = test[i];\n        msg.payload += (\" ('\"+obj +\"'),\");\n    }\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":600,"wires":[["340d4e3b.9d581a"]]},{"id":"7f2a9e0c.98aaa8","type":"delay","z":"bbdc0c50.11675","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":760,"wires":[["9643d4c.d6fd0a8"]]},{"id":"b2e000f5.7b209","type":"change","z":"bbdc0c50.11675","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.cars","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":360,"wires":[["153c178d.b2c0a8","e14a529.dc33b3"]]},{"id":"2edb4cd8.c57734","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a146322a.160f7","type":"postgresdb","cfgname":"","hostname":"localhost","port":"5432","db":"stock_admin","ssl":false}]