NodeRed/08032021.json
[{"id":"ea53a32c.10ac18","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"a0b32171.e0b4b","type":"json","z":"ea53a32c.10ac18","name":"","property":"payload","action":"","pretty":false,"x":270,"y":220,"wires":[["583a74d7.b613fc"]]},{"id":"d0381ce6.5681c8","type":"debug","z":"ea53a32c.10ac18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1270,"y":140,"wires":[]},{"id":"583a74d7.b613fc","type":"change","z":"ea53a32c.10ac18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":220,"wires":[["c4d44e81.90ea7"]]},{"id":"d4e6cbd3.c70108","type":"mqtt in","z":"ea53a32c.10ac18","name":"","topic":"esp/device","qos":"2","datatype":"auto","broker":"2edb4cd8.c57734","x":120,"y":220,"wires":[["9c2c3ba1.e2c898","a0b32171.e0b4b"]]},{"id":"3ae3f577.f2374a","type":"postgres","z":"ea53a32c.10ac18","postgresdb":"a146322a.160f7","name":"","output":false,"perrow":false,"rowspermsg":"1","return_on_error":true,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":1340,"y":300,"wires":[]},{"id":"d63c03c7.fea75","type":"function","z":"ea53a32c.10ac18","name":"Status","func":"var test = msg.payload;\n\nmsg.payload = \"INSERT INTO complex(status) select 'IN' \"\nmsg.payload = msg.payload +\"where exists (select 1 from complex where mac = 'mac1') ;\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":480,"wires":[["15d6f9d5.9809c6"]]},{"id":"759700.ac49e9","type":"function","z":"ea53a32c.10ac18","name":"QUERY","func":"msg.queryParameters = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":260,"wires":[["3ae3f577.f2374a","d0381ce6.5681c8"]]},{"id":"99868784.0b64e8","type":"function","z":"ea53a32c.10ac18","name":"DELETE_ROWS","func":"\nvar test = msg.payload;\n\nmsg.payload = \"DELETE FROM complex;\";\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":140,"wires":[[]]},{"id":"18737444.8abb4c","type":"delay","z":"ea53a32c.10ac18","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":360,"wires":[["759700.ac49e9","d63c03c7.fea75"]]},{"id":"8a749765.14e468","type":"function","z":"ea53a32c.10ac18","name":"RESTART ID","func":"\nmsg.payload = \"ALTER SEQUENCE complex_id_seq RESTART WITH 1\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":240,"wires":[[]]},{"id":"c4d44e81.90ea7","type":"debug","z":"ea53a32c.10ac18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":100,"wires":[]},{"id":"99d486a5.7c5f98","type":"inject","z":"ea53a32c.10ac18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"mac1,mac2,mac3,","payloadType":"str","x":350,"y":400,"wires":[["95e09eac.bac17"]]},{"id":"95e09eac.bac17","type":"split","z":"ea53a32c.10ac18","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":550,"y":320,"wires":[["859551ef.0d61","99868784.0b64e8","e864d065.31053"]]},{"id":"859551ef.0d61","type":"debug","z":"ea53a32c.10ac18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":520,"wires":[]},{"id":"9c2c3ba1.e2c898","type":"debug","z":"ea53a32c.10ac18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":340,"y":120,"wires":[]},{"id":"82fcc57f.974498","type":"inject","z":"ea53a32c.10ac18","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"mac_test,","payloadType":"str","x":350,"y":300,"wires":[["95e09eac.bac17"]]},{"id":"e864d065.31053","type":"function","z":"ea53a32c.10ac18","name":"","func":"var test = msg.payload;\n\nmsg.payload = \"INSERT INTO complex(mac) VALUES('\"+test+\"'); \"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":320,"wires":[["18737444.8abb4c"]]},{"id":"15d6f9d5.9809c6","type":"delay","z":"ea53a32c.10ac18","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":480,"wires":[["759700.ac49e9"]]},{"id":"2edb4cd8.c57734","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a146322a.160f7","type":"postgresdb","cfgname":"","hostname":"localhost","port":"5432","db":"stock_admin","ssl":false}]