NodeRed/MQTT_in_Postgress_out.json
[{"id":"ea53a32c.10ac18","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"a0b32171.e0b4b","type":"json","z":"ea53a32c.10ac18","name":"","property":"payload","action":"","pretty":false,"x":530,"y":220,"wires":[["583a74d7.b613fc"]]},{"id":"d0381ce6.5681c8","type":"debug","z":"ea53a32c.10ac18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":220,"wires":[]},{"id":"49c52368.8ee84c","type":"mqtt in","z":"ea53a32c.10ac18","name":"","topic":"esp/device","qos":"2","datatype":"auto","broker":"7fb9e50d.3cc71c","x":300,"y":260,"wires":[["a0b32171.e0b4b","3ba01410.16106c"]]},{"id":"95c0b182.b9b3","type":"postgres","z":"ea53a32c.10ac18","postgresdb":"73db6e67.b5882","name":"","output":false,"perrow":false,"rowspermsg":"1","outputs":0,"x":860,"y":320,"wires":[]},{"id":"583a74d7.b613fc","type":"change","z":"ea53a32c.10ac18","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":220,"wires":[["d0381ce6.5681c8"]]},{"id":"3ba01410.16106c","type":"debug","z":"ea53a32c.10ac18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":160,"wires":[]},{"id":"7fb9e50d.3cc71c","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"73db6e67.b5882","type":"postgresdb","hostname":"localhost","port":"5432","db":"inventory","ssl":false}]