NodeRed/newflow
[{"id":"ea53a32c.10ac18","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"ca716815.390968","type":"mqtt in","z":"ea53a32c.10ac18","name":"","topic":"noderedlecture/sensor","qos":"2","datatype":"auto","broker":"2045f290.6ac45e","x":360,"y":260,"wires":[["a0b32171.e0b4b","fc8046b3.c1f0b"]]},{"id":"a0b32171.e0b4b","type":"json","z":"ea53a32c.10ac18","name":"","property":"payload","action":"","pretty":false,"x":530,"y":220,"wires":[["d0381ce6.5681c8"]]},{"id":"5d83384.3bb4d48","type":"mqtt out","z":"ea53a32c.10ac18","name":"","topic":"noderedlecture/sensor","qos":"","retain":"","broker":"2045f290.6ac45e","x":480,"y":420,"wires":[]},{"id":"9b372514.d0f208","type":"inject","z":"ea53a32c.10ac18","name":"{\"mac\":\"001A3FF14CC6\"}","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"mac\":\"001A3FF14CC6\"}","payloadType":"str","x":218.00001525878906,"y":466,"wires":[["5d83384.3bb4d48"]]},{"id":"fc8046b3.c1f0b","type":"debug","z":"ea53a32c.10ac18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":340,"wires":[]},{"id":"d0381ce6.5681c8","type":"debug","z":"ea53a32c.10ac18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.mac","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":220,"wires":[]},{"id":"2045f290.6ac45e","type":"mqtt-broker","name":"rasp","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
