rasp-node red/NodeRed/flow_Vfinal.json
[{"id":"dcc9d83e.00f168","type":"tab","label":"Flow 7","disabled":true,"info":""},{"id":"6c8980b1.a64e9","type":"json","z":"dcc9d83e.00f168","name":"","property":"payload","action":"obj","pretty":false,"x":130,"y":300,"wires":[["5894969f.38af48","7f717ea4.c274"]]},{"id":"5894969f.38af48","type":"change","z":"dcc9d83e.00f168","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.object.DecodeDataString","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":380,"wires":[["ba92de7b.e427a8"]]},{"id":"e77ec83d.965c","type":"mqtt in","z":"dcc9d83e.00f168","name":"","topic":"application/2/device/70b3d54993112ea4/rx","qos":"2","datatype":"auto","broker":"5b0d79ff.110bc","nl":false,"rap":false,"x":200,"y":240,"wires":[["6c8980b1.a64e9"]]},{"id":"7f717ea4.c274","type":"change","z":"dcc9d83e.00f168","name":"deveui","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.devEUI","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"devui","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":340,"wires":[["d5d1108.aa8bff"]]},{"id":"21968cbb.214d34","type":"change","z":"dcc9d83e.00f168","name":"mac","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.mac","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"mac","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":500,"wires":[["a9ad9697.da20e8"]]},{"id":"ba92de7b.e427a8","type":"json","z":"dcc9d83e.00f168","name":"","property":"payload","action":"obj","pretty":false,"x":330,"y":440,"wires":[["21968cbb.214d34"]]},{"id":"d5d1108.aa8bff","type":"function","z":"dcc9d83e.00f168","name":"Format whare output","func":"value= msg.payload\nmsg.topic='devEUI'\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":340,"wires":[["6a4a5bc7.8c659c"]]},{"id":"a9ad9697.da20e8","type":"function","z":"dcc9d83e.00f168","name":"Format mac output","func":"value= msg.payload\nmsg.topic='mac'\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":500,"wires":[["6a4a5bc7.8c659c"]]},{"id":"6a4a5bc7.8c659c","type":"join","z":"dcc9d83e.00f168","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":420,"wires":[["eaf86cac.b8b5f8","b0a8879d.ea141","d6891812.7a6af"]]},{"id":"b0a8879d.ea141","type":"function","z":"dcc9d83e.00f168","name":"clear_tmp_state","func":"var test = msg.payload;\n\nmsg.payload = \"TRUNCATE public.tmp_state RESTART IDENTITY; \"\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":460,"wires":[["7bad1eaa.c8e8b"]]},{"id":"170fc987.eaa3ce","type":"function","z":"dcc9d83e.00f168","name":"QUERY","func":"msg.queryParameters = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":360,"wires":[[]]},{"id":"367a3a96.168556","type":"delay","z":"dcc9d83e.00f168","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":380,"wires":[["170fc987.eaa3ce"]]},{"id":"eaf86cac.b8b5f8","type":"function","z":"dcc9d83e.00f168","name":"","func":"var test = msg.payload.mac;\nvar devui = msg.payload.devEUI;\nmsg.payload = \"INSERT INTO tmp_state(mac, warehouse) VALUES\"\n\n\nfor (var i = 0; i < test.length; i++){\n    if(i==test.length-1){\n        var obj = test[i];\n        msg.payload += (\" ('\"+obj +\"', '\"+devui +\"');\");\n    }else{\n        var obj = test[i];\n        msg.payload += (\" ('\"+obj +\"', '\"+devui +\"'),\");\n    }\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":380,"wires":[["367a3a96.168556"]]},{"id":"7bad1eaa.c8e8b","type":"delay","z":"dcc9d83e.00f168","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":460,"wires":[["783bfe2c.de2e5"]]},{"id":"783bfe2c.de2e5","type":"postgres","z":"dcc9d83e.00f168","postgresdb":"a146322a.160f7","name":"","output":true,"perrow":false,"rowspermsg":"1","return_on_error":true,"limit_queries":"0","limit_by":"payload","limit_value":"5","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":true,"x":1300,"y":440,"wires":[["7bdf9eb5.ec42f8"]]},{"id":"7bdf9eb5.ec42f8","type":"debug","z":"dcc9d83e.00f168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1600,"y":460,"wires":[]},{"id":"d6891812.7a6af","type":"function","z":"dcc9d83e.00f168","name":"clear_mac_filter","func":"var test = msg.payload;\n\nmsg.payload = \"TRUNCATE public.mac_filter RESTART IDENTITY; \"\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":500,"wires":[["2073873f.32b5c8"]]},{"id":"2073873f.32b5c8","type":"delay","z":"dcc9d83e.00f168","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1080,"y":500,"wires":[["783bfe2c.de2e5"]]},{"id":"5b0d79ff.110bc","type":"mqtt-broker","name":"lora","broker":"192.168.230.1","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"a146322a.160f7","type":"postgresdb","cfgname":"","hostname":"localhost","port":"5432","db":"stock_admin","ssl":false}]