rasp-node red/NodeRed/flowV4
[{"id":"c56e546a.34ed18","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"37c94d58.06f082","type":"json","z":"c56e546a.34ed18","name":"","property":"payload","action":"obj","pretty":false,"x":610,"y":460,"wires":[["8e1d8aa1.dd3f7","1149b635.99bf72","5cb3bbdf.dc248c","7176c34a.1e8be4"]]},{"id":"8e1d8aa1.dd3f7","type":"function","z":"c56e546a.34ed18","name":"","func":"var test = msg.payload.devEUI;\nvar test2=msg.payload.txInfo.object.mac;\n\nmsg.payload = \"INSERT INTO tmp_state(mac) VALUES\"\nmsg.payload += (\" ('\"+test +\"');\");\nmsg.payload += (\" ('\"+test2 +\"');\");\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":340,"wires":[["41ef1bf3.3b9d3c"]]},{"id":"6e8f164a.1ef2e8","type":"inject","z":"c56e546a.34ed18","name":"json","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"devEUI\":\"macloppy\",\"txInfo\":{\"object\":{\"mac\":[]}}}","payloadType":"json","x":290,"y":460,"wires":[["37c94d58.06f082"]]},{"id":"1149b635.99bf72","type":"debug","z":"c56e546a.34ed18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":800,"wires":[]},{"id":"41ef1bf3.3b9d3c","type":"debug","z":"c56e546a.34ed18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1410,"y":300,"wires":[]},{"id":"5cb3bbdf.dc248c","type":"function","z":"c56e546a.34ed18","name":"","func":"\n\nvar wharemac= msg.payload.devEUI;\nvar test=msg.payload.txInfo.object.mac;\n\nmsg.payload = \"INSERT INTO tmp_state(mac, warehouse) VALUES\"\n\n\n\nif(test.length == 0){\nmsg.payload += (\" (NULL, NULL);\");\n\n}else{\n    \n\n    for (var i = 0; i < test.length; i++){\n        if(i==test.length-1){\n            var obj = test[i];\n            msg.payload += (\" ('\"+obj +\"', '\"+wharemac +\"');\");\n        }else{\n            var obj = test[i];\n            msg.payload += (\" ('\"+obj +\"', '\"+wharemac +\"'),\");\n        }\n    }\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":460,"wires":[["3fb82538.497ce2","d6a0f443.eac07"]]},{"id":"3fb82538.497ce2","type":"debug","z":"c56e546a.34ed18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1450,"y":400,"wires":[]},{"id":"25c46e70.9e189a","type":"postgres","z":"c56e546a.34ed18","postgresdb":"a146322a.160f7","name":"","output":false,"perrow":false,"rowspermsg":"1","return_on_error":true,"limit_queries":"1","limit_by":"payload","limit_value":"5","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":1900,"y":600,"wires":[]},{"id":"7176c34a.1e8be4","type":"function","z":"c56e546a.34ed18","name":"clear_tmp_state","func":"var test = msg.payload;\n\nmsg.payload = \"TRUNCATE public.tmp_state RESTART IDENTITY; \"\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":680,"wires":[["3fce5066.ebb698"]]},{"id":"f2fae7dc.39d838","type":"function","z":"c56e546a.34ed18","name":"QUERY","func":"msg.queryParameters = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1740,"y":560,"wires":[["25c46e70.9e189a"]]},{"id":"d6a0f443.eac07","type":"delay","z":"c56e546a.34ed18","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1500,"y":580,"wires":[["f2fae7dc.39d838"]]},{"id":"3fce5066.ebb698","type":"delay","z":"c56e546a.34ed18","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1520,"y":680,"wires":[["f2fae7dc.39d838"]]},{"id":"a146322a.160f7","type":"postgresdb","cfgname":"","hostname":"localhost","port":"5432","db":"stock_admin","ssl":false}]
