rasp-node red/NodeRed/flows_dbV3.json
[{"id":"6e8aa12d.6667d","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"6998c017.67d5f8","type":"debug","z":"6e8aa12d.6667d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":180,"wires":[]},{"id":"47af6a1.0842314","type":"mqtt in","z":"6e8aa12d.6667d","name":"","topic":"application/2/device/70b3d54993112ea4/rx","qos":"2","datatype":"auto","broker":"5b0d79ff.110bc","x":160,"y":80,"wires":[["6998c017.67d5f8","85d9ca8f.a24e58"]]},{"id":"85d9ca8f.a24e58","type":"json","z":"6e8aa12d.6667d","name":"","property":"payload","action":"obj","pretty":false,"x":210,"y":320,"wires":[["33fc9c7f.99d7c4"]]},{"id":"33fc9c7f.99d7c4","type":"change","z":"6e8aa12d.6667d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.object","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":280,"wires":[["67c2f560.2fd1b4","78a88537.92d464"]]},{"id":"7e78d1dc.217408","type":"change","z":"6e8aa12d.6667d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":480,"wires":[["b6e926ca.095d4","847aa828.25187","82c31792.6834e"]]},{"id":"a9676da.a34751","type":"json","z":"6e8aa12d.6667d","name":"","property":"payload","action":"obj","pretty":false,"x":450,"y":400,"wires":[["7e78d1dc.217408"]]},{"id":"6802e959.a4768","type":"debug","z":"6e8aa12d.6667d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1210,"y":200,"wires":[]},{"id":"bced46e8.69e2a8","type":"postgres","z":"6e8aa12d.6667d","postgresdb":"a146322a.160f7","name":"","output":false,"perrow":false,"rowspermsg":"1","return_on_error":true,"limit_queries":"1","limit_by":"payload","limit_value":"5","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":false,"x":1280,"y":360,"wires":[]},{"id":"847aa828.25187","type":"function","z":"6e8aa12d.6667d","name":"clear_tmp_state","func":"var test = msg.payload;\n\nmsg.payload = \"TRUNCATE public.tmp_state RESTART IDENTITY; \"\n\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":440,"wires":[["62a93942.97d9e"]]},{"id":"5b9c6590.22082c","type":"function","z":"6e8aa12d.6667d","name":"QUERY","func":"msg.queryParameters = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":320,"wires":[["6802e959.a4768","bced46e8.69e2a8"]]},{"id":"5a21b9a.780de48","type":"delay","z":"6e8aa12d.6667d","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":340,"wires":[["5b9c6590.22082c"]]},{"id":"b6e926ca.095d4","type":"function","z":"6e8aa12d.6667d","name":"","func":"var test = msg.payload;\n\nmsg.payload = \"INSERT INTO tmp_state(mac) VALUES\"\n\n\nfor (var i = 0; i < test.length; i++){\n    if(i==test.length-1){\n        var obj = test[i];\n        msg.payload += (\" ('\"+obj +\"');\");\n    }else{\n        var obj = test[i];\n        msg.payload += (\" ('\"+obj +\"'),\");\n    }\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":340,"wires":[["5a21b9a.780de48"]]},{"id":"62a93942.97d9e","type":"delay","z":"6e8aa12d.6667d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":440,"wires":[["5b9c6590.22082c"]]},{"id":"c955ec85.14dc18","type":"inject","z":"6e8aa12d.6667d","name":"json","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"mac\":[\"mac1\",\"mac2\",\"mac5\"]}","payloadType":"json","x":250,"y":520,"wires":[["a9676da.a34751"]]},{"id":"82c31792.6834e","type":"debug","z":"6e8aa12d.6667d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":640,"wires":[]},{"id":"67c2f560.2fd1b4","type":"debug","z":"6e8aa12d.6667d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":260,"wires":[]},{"id":"78a88537.92d464","type":"change","z":"6e8aa12d.6667d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.DecodeDataString","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":340,"wires":[["a9676da.a34751"]]},{"id":"5b0d79ff.110bc","type":"mqtt-broker","name":"lora","broker":"192.168.230.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a146322a.160f7","type":"postgresdb","cfgname":"","hostname":"localhost","port":"5432","db":"stock_admin","ssl":false}]